<div class="container" id="main">

  <div class="d-flex align-items-center">
    <div class="col">

      <div class="d-flex flex-column">
        <div>
          <img src="assets/img/raspi-stack.png" alt="" class="img-thumbnail">
        </div>
        <div>
          <div class="d-flex justify-content-around mt-3">
            <a href="https://github.com/smhagit"><i class="fab fa-github fa-3x"></i> Github</a>
            <a href="https://hub.docker.com/u/smhagit"><i class="fab fa-docker fa-3x"></i> Docker Hub</a>
            <a href="https://www.xing.com/profile/Sascha_Reule"><i class="fab fa-xing fa-3x"></i> Xing</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h1>This website</h1>
      <p class="sub">...is cool, because:</p>
      
      <p>
        it is built with Angular and backed by Symfony.<br>
        </p>
      <p>
        Deployed on a Kubernetes cluster on my desk at home and load balanced between multiple pod instances by Traefik.<br>
      <p>
        This is hosted on a 4x Raspberry PI stack with uninterruptible power supply, smart plug and automated fan control by an ESP8266 via MQTT.<br>
      </p>

      <p>
        Aside from this website, the Kubernetes cluster also powers a Home Assistant installation with 62 Zigbee2MQTT devices and about 548 entities in my home. 
      </p>
      <p>
        Combined they all are the base for many home automation scripts from light control, door/window contact, rain sensor, bed occupancy sensor, alarm and air purifiers/ quality sensors. And the list keeps growing...
      </p>
      <h1>Why?</h1>
      <p class="sub">...just because I can!</p>
      <p>
        Senior Web Application Developer, DevOp, Photographer and Smart Home `Automator` living in Germany NRW.<br>
      </p>
      <p>
        Focused on building great applications with Angular, Symfony, Docker, Kubernetes and sometimes even Adobe InDesign/Server automations.<br>
      </p>
    </div>
  </div>
</div>
